*{
    margin: 0;
    padding: 0;
}

.merriweather {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.text-center{
    text-align: center;
}
.red{
    color: rgba(255, 0, 0, 1);
}
.black{
    color: rgba(7, 2, 17, 1);
}
 .btn{background-color: #FF0000;
    font-weight: bold;
    font-size: 20px;
    color: white;
    border: none;
    padding: 16px 32px;
    border-radius: 8px;
    /* align-items: center; */
}
/* first_section */
.banner{
   background-image: linear-gradient(rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)),url('../images/Banner\ Image.png');
   border-radius: 16px;
   width: 1320px;
   height: 600px;
   margin: 50px 100px 10px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   

}

.subtitle{
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-bottom:16px ;
}

.title-1{
    font-size: 70px;
    font-weight: 900;
    color: white;
    margin-top: 2px;
}
.title-2{
    font-size: 70px;
    font-weight: 900;
    color: white;
    margin-top: 2px;
}
/* discount section */
.offer{
    padding: 120px 400px;
    text-align: center;
}
.discount_titles{
   height: 806px;
   width: 802px;
   
} 

.header{
    font-size: 88px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 48px;
}

.subtitle_deals{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}

.title_categories{
    font-size: 48px;
    font-weight: 700;
    color: #070211;
    margin-bottom: 48px;
}

/* Second-banner */
.second_banner{
    width: 697px;
    height: 332px;
    margin-top: 100px;
}
.elements{
    display: flex;
    justify-content: space-between;
    padding: 68px 128px;
}
.join_party{
   background-image: linear-gradient(rgba(7, 2, 17, 1),rgba(7, 2, 17, 0)),url('../images/Vectorrr.png');
   border-radius: 16px;
   width: 1320px;
   height: 600px;
   margin: 50px 100px 100px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
}
.welcome{
    font-size: 64px;
    font-weight: 900;
    color: #ffff;
    letter-spacing: 11%;
    margin-bottom: 24px;
}
.details{
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 48px;
    line-height: 30px;
}
.like_btn{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-left: 50px;
}
/* Venue section */
.venue{
   background-image: linear-gradient(rgb(255, 0, 0, 0.1),rgba(255, 0, 0, 0));
   border-radius: 16px;
   width: 1320px;
   height: 482px;
   margin: 50px 100px 10px 100px;
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.parts-of-venue{
    font-size: 32px;
    font-weight: 600;
    text-align: center;
    line-height: 56px;
    margin-bottom: 48px;
}

/* coming_soon */
.coming_soon{
    width: 1320px;
    height: 463px;
    margin: 50px 100px 10px 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 70px;
}
.three-child{
    display: flex;
    
}
.left-side-info{
    height: 255px;
    width: 390px;
    margin-right: 40px;
}
.left-subtitle{
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
    margin-bottom: 16px;
}
.left-title{
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-bottom: 22px;
}
.left-paragraph{
    font-size: 20px;
    font-weight: 400;
    color: rgba(7, 2, 17, 0.6);
    line-height: 32px;
}

.round-border{
    width: 463px;
    height: 463px; 
}

.round-picture{
    
    border: 20px solid rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 0 10px red;
    
}

.right-side-info{
    width: 276px;
    height: 353px;
}
.year{
    font-size: 48px;
    font-weight: 700;
    color: #FF0000;
    margin-bottom: 16px;
}
.right-p{
    margin-bottom: 43px;
}